<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Fraud Detection Dashboard</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>

 
	<h1>Mediclaim Fraud Detection</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name='InscClaimAmtReimbursed' placeholder="InscClaimAmtReimbursed" required="required" step="0.01" />
        <input type="number" name='AdmitForDays' placeholder="AdmitForDays" required="required" />
		<input type="number" name='DeductibleAmtPaid' placeholder="DeductibleAmtPaid" required="required" step="0.01" />
		<input type="number" name='Diagnosis_Code' placeholder="Diagnosis_Code" required="required" min="0" max="999" />
		<input type="number" name='Number_of_Procedure' placeholder="Number_of_Procedure" required="required" min="0" max="999"  />
   

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
      <h3> {{ prediction_text }} </h3>
 

    <br>


   <h2>Upload Mediclaim CSV file to Detect Fraud</h2>
    <form action = "/file_predict" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" class="btn btn-primary btn-block btn-large" value="Upload">  
    </form>
    <br>
{{ prediction_text2 }}

</body>
</html>
